.social{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	content: #FFFFFF;
	background: #000000;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.social ul li .icon-facebook{
	background:#3b5998;
	color: #fff;
}

.social ul li .icon-instagram{
	background:#d6249f;
	color: #fff;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.social ul li .icon-mail{
	background:#666666;
	color: #fff;
}

.social ul li .icon-whatsapp{
	background: #25d366;
	color: #fff;
}

.social ul li a:hover {
	padding: 10px 30px;
    background: #000;
}
